
@font-face {
    font-family: "Outfit";
    src: url("https://fonts.google.com/specimen/Outfit") format('woff2');
}

body {
    background: hsl(212, 45%, 89%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

.container {
    border-radius: 20px;
    background: hsl(0, 0%, 100%);
    margin: 30px;
    padding: 30px;
    width: 90%;
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: "Outfit";
    text-align: center;
}

p {
    font-family: "Outfit";
    font-size: 15px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 20px;
}

/* Media Queries */
@media (min-width: 1440px) {
    .container {
        width: 400px;
        height: 700px;
    }
}